:root {
  --color-primary-intro-email: hsl(217, 28%, 15%);
  --color-primary-main: hsl(218, 28%, 13%);
  --color-primary-footer: hsl(216, 53%, 9%);
  --color-primary-testimonials: hsl(219, 30%, 18%);
  --call-to: hsl(176, 68%, 64%);
  --call-to-two: hsl(198, 60%, 50%);
  --error: hsl(0, 100%, 63%);
  --neutral: hsl(0, 0%, 100%);
}

/* General rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Typography */
html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  font-family: "Open sans", Arial, Helvetica, sans-serif;
  color: var(--neutral);
  line-height: 1.5;
}

h1,
h2,
h3 {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.6rem;
  font-weight: 700;
}

p {
  margin-top: 0;
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 3.2rem;
  }

  h2 {
    font-size: 2.5rem;
  }
}

/* Buttons */
.btn {
  background: none;
  padding: 2rem 4vw;
  outline: 0;
  border: 0;
  border-radius: 40px;
  text-transform: capitalize;
  font-weight: 600;
  white-space: nowrap;
  cursor: pointer;
}

.btn--gradient {
  background-image: linear-gradient(120deg, var(--call-to), var(--call-to-two));
  background-size: 250%;
  color: #fff;
}

.btn--size {
  width: 100%;
}

.btn--main {
  padding: 2rem 10vw;
}

@media screen and (min-width: 768px) {
  .btn--size {
    width: initial;
    padding: 1.5rem 3rem;
  }

  .btn--main {
    padding: 1.5rem 9rem;
  }
}

/* Links */
a {
  text-decoration: none;
}

.link--arrow {
  color: #66e4d8;
  text-transform: capitalize;
  padding-bottom: 0.3rem;
}

.link--arrow__icon {
  width: 15px;
  margin: auto;
  margin-left: 0.5rem;
  transition: margin-left 0.2s;
}

.link__container:hover .link--arrow__icon {
  margin-left: 1.2rem;
}

.link__container {
  display: inline-flex;
  align-items: center;
  border-bottom: 1px solid #66e4d8;
}

/* Cards */
.card {
  box-shadow: 0 0 10px 5px #1a212b;
  border-radius: 15px;
}

.card__content {
  padding: 2.5rem 7% 2rem;
}

.card__header {
  padding: 4.5rem 7% 1rem;
}

.card__content--bigger,
.card__header--bigger {
  padding: 4.2rem 7.5rem;
}

.card--color-email-intro {
  background: var(--color-primary-intro-email);
}

.card--color-testimonials {
  background: var(--color-primary-testimonials);
}

.card--shadow-black {
  box-shadow: 0 0 20px 30px #050f1b;
}

/* Inputs */
.input {
  padding: 1.5rem 3rem;
  border-radius: 40px;
  border: 0;
  outline: 0;
  color: #d8d8d8;
}

.input--black-shadow {
  box-shadow: 0 0 10px 5px #1a212b;
}

::placeholder {
  color: #d8d8d8;
}

/* Input groups */
.input-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.input-group__button {
  white-space: initial;
  overflow: hidden;
}

.input--type {
  width: 100%;
}

.input-group > .input {
  margin-bottom: 2rem;
}

@media screen and (min-width: 768px) {
  .input-group > .input {
    margin-bottom: 0;
  }

  .input-group {
    flex-direction: row;
    align-items: center;
  }

  .input-group > .input-group__button {
    margin-bottom: 0;
    margin-left: 3rem;
  }

  .input--type {
    width: 0;
    flex-grow: 1;
  }

  .input-group__button {
    white-space: nowrap;
  }
}

/* Icons */
.icon {
  width: 64px;
}

@media screen and (min-width: 1024px) {
  .icon {
    width: 80px;
  }
}

/* Blocks */
.block {
  padding: 2.5rem 2rem;
}

.block--darker {
  background: var(--color-primary-main);
}

.block--medium {
  background: var(--color-primary-footer);
}

.block--lighter {
  background: var(--color-primary-intro-email);
}

.block--svg-bg {
  background-image: url(../images/bg-curvy-mobile.svg);
  background-position: bottom;
  background-size: 110%;
  background-repeat: no-repeat;
}

.container {
  margin: 0 auto;
  max-width: 920px;
}

.container--small {
  margin: 0 auto;
  max-width: 800px;
}

.container--medium {
  max-width: 1150px;
  margin: 0 auto;
}

.container--larger {
  max-width: 1289px;
  margin: 0 auto;
}

.container--even-larger {
  max-width: 1500px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .block--svg-bg {
    background-image: url(../images/bg-curvy-desktop.svg);
    background-size: 100%;
  }
}

/* Grids */
.grid {
  display: grid;
}

@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid--1x3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* List */
.list {
  list-style: none;
}

.list--inline {
  display: inline-block;
}

/* Navigation Bar */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  font-size: 1.3rem;
  background: var(--color-primary-intro-email);
}

.nav__links {
  padding-left: 0;
  margin: 0;
  display: flex;
}

.nav__links > li {
  padding: 2rem 2vw;
  white-space: nowrap;
}

.nav a {
  color: var(--neutral);
}

.nav .icon {
  width: 70px;
}

@media screen and (min-width: 768px) {
  .nav .icon {
    width: 120px;
  }
}

/* Features */
.feature.block {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.feature img {
  margin: auto;
}

.feature__text {
  text-align: center;
}

/* Hero */
.hero img {
  width: 70%;
  margin: 0 auto;
}

.hero__content {
  text-align: center;
}

.hero__content > p {
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 3.5rem;
}

.hero .grid {
  row-gap: 2rem;
}

.hero .container {
  max-width: 800px;
}

@media screen and (min-width: 768px) {
  .hero__content > p {
    margin-left: 20%;
    margin-right: 20%;
  }
}

/* Features block */
.features-block .grid {
  row-gap: 5rem;
  column-gap: 20rem;
}

@media screen and (min-width: 500px) and (max-width: 767px) {
  .feature__text > p {
    margin: 0 20%;
  }
}

/* Showcase block */
.showcase-block {
  row-gap: 3.5rem;
  column-gap: 3rem;
}

.showcase-block > img {
  width: 100%;
  transition: width 0.2s;
}

.showcase-block__content {
  align-self: center;
}

@media screen and (min-width: 607px) and (max-width: 767px) {
  .showcase-block > img {
    width: 80%;
    margin: 0 auto;
  }
}

/* Testimonials */
.testimonials {
  padding: 11rem 4.5rem 30rem;
}

.testimonials .card {
  border-radius: 5px;
}

.testimonials .card__header,
.testimonials__content {
  padding-right: 10%;
  padding-left: 10%;
}

.testimonials .grid {
  position: relative;
  row-gap: 3.5rem;
  column-gap: 3rem;
}

.testimonial__profile {
  width: 3rem;
  border-radius: 100%;
  margin-right: 0.5rem;
}

.testimonials__content {
  display: flex;
  align-items: center;
}

.testimonials__content p {
  margin-bottom: 0;
  margin-left: 0.5rem;
}

.testimonials__icon {
  width: 30px;
  position: absolute;
  left: 15px;
  top: -20px;
}

.testimonials .grid .card:nth-child(2) {
  box-shadow: 0 5px 10px 5px #1a212b;
  position: relative;
  z-index: 2;
}

@media screen and (min-width: 768px) {
  .testimonials {
    padding-bottom: 35rem;
  }

  .testimonials .testimonials__icon {
    width: 64px;
    top: -40px;
    left: -15px;
  }
}

/* Call to */
.call-to {
  position: absolute;
  left: 10%;
  right: 10%;
  transform: translateY(-50%);
  max-height: 450px;
}

.call-to .card {
  border-radius: 5px;
}

.call-to__header {
  text-align: center;
  padding-top: 3.3rem;
}

.call-to__header h3 {
  margin-top: 0;
}

@media screen and (min-width: 768px) {
  .call-to__header p {
    margin: 0 5%;
  }
}

/* Footer */
.footer {
  padding-top: 26rem;
}

.footer .list {
  padding: 0;
  margin: 0;
}

.footer .grid {
  column-gap: 7rem;
  row-gap: 4.3rem;
}

.footer__item > p {
  margin-bottom: 0;
  margin-left: 0.75rem;
}

.footer__section-info :first-child img,
.footer__section-info :first-child p {
  align-self: flex-start;
}

.footer__section-info :first-child img {
  margin-top: 0.35rem;
}

.footer__section-info :first-child p {
  margin: 0 35% 0 0;
}

.footer__item {
  display: flex;
  align-items: center;
  margin-bottom: 1.6rem;
}

.footer .grid .footer__section-info:nth-child(2) .footer__item:nth-child(1) {
  margin-bottom: -2.7rem;
}

.footer__item__icon {
  margin-right: 0.75rem;
}

.footer a {
  color: var(--neutral);
}

.footer__section-social {
  justify-self: center;
  margin-top: 2rem;
}

.footer__section-social i {
  margin: 0 1rem;
  font-size: 32px;
}

.footer__logo {
  margin-bottom: -2.15rem;
}

@media screen and (min-width: 768px) {
  .footer .grid {
    column-gap: 5rem;
  }

  .footer {
    padding-top: 19rem;
    padding-bottom: 9.2rem;
  }

  .footer {
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1.3rem;
  }

  .footer__logo {
    width: 10%;
    grid-area: logo / span 5;
  }

  .footer .grid {
    grid-template-areas: "logo . . . ." ". . . . .";
    grid-template-rows: auto auto;
    grid-template-columns: 3fr 2fr 1fr 1fr auto;
  }

  .footer__section-info :first-child p {
    margin: 0;
  }

  .footer__section-social {
    display: flex;
    align-self: flex-start;
    margin: 0;
  }

  .footer__section-social i {
    font-size: 25px;
  }
}

@media screen and (min-width: 1024px) {
  .footer .grid {
    column-gap: 7rem;
  }

  .footer {
    padding-left: 8rem;
    padding-right: 8rem;
    font-size: inherit;
  }
}

/* Attribution */
.attribution {
  text-align: center;
}

.attribution a {
  text-decoration: underline;
}
