:root {
  --color-primary-intro-email: hsl(217, 28%, 15%);
  --color-primary-main: hsl(218, 28%, 13%);
  --color-primary-footer: hsl(216, 53%, 9%);
  --color-primary-testimonials: hsl(219, 30%, 18%);
  --call-to: hsl(176, 68%, 64%);
  --call-to-two: hsl(198, 60%, 50%);
  --error: hsl(0, 100%, 63%);
  --neutral: hsl(0, 0%, 100%);
}

/* Typography */
html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  font-family: "Open sans", Arial, Helvetica, sans-serif;
  color: var(--neutral);
}

h1,
h2,
h3 {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 3.815rem;
}

h2 {
  font-size: 3.052rem;
}

h3 {
  font-size: 2.9rem;
  font-weight: 700;
}

p {
  margin-top: 0;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.4rem;
  }

  h1 {
    font-size: 4.768rem;
  }

  h2 {
    font-size: 3.815rem;
  }

  h3 {
    font-size: 3.052rem;
  }
}

/* Buttons */
.btn {
  background: none;
  padding: 2rem 2rem;
  outline: 0;
  border: 0;
  border-radius: 40px;
  text-transform: capitalize;
  font-weight: 600;
  white-space: nowrap;
}

.btn--gradient {
  background-image: linear-gradient(120deg, var(--call-to), var(--call-to-two));
  background-size: 250%;
  color: #fff;
}

.btn--size {
  width: 100%;
}

.btn--main {
  padding: 2rem 10vw;
}

@media screen and (min-width: 768px) {
  .btn--size {
    width: initial;
    padding: 1.5rem 3rem;
  }

  .btn--main {
    padding: 1.5rem 9rem;
  }
}

/* Links */
a {
  text-decoration: none;
}

.link--arrow {
  color: #66e4d8;
  text-transform: capitalize;
  padding-bottom: 0.3rem;
}

.link--arrow__icon {
  width: 15px;
  margin: auto;
  margin-left: 0.5rem;
  transition: margin-left 0.2s;
}

.link__container:hover .link--arrow__icon {
  margin-left: 1.2rem;
}

.link__container {
  display: inline-flex;
  align-items: center;
  border-bottom: 1px solid #66e4d8;
}

/* Cards */
.card {
  padding: 4.5rem 2.5rem 2rem;
  box-shadow: 0 0 10px 5px #1a212b;
  border-radius: 15px;
}

.card--bigger {
  padding: 4.2rem 7.5rem;
}

.card--color-email-intro {
  background: var(--color-primary-intro-email);
}

.card--color-testimonials {
  background: var(--color-primary-testimonials);
}

.card--shadow-black {
  box-shadow: 0 0 20px 30px #050f1b;
}
