<section class="container call-to">
  <div class="card card--bigger card--color-email-intro">
    <header class="card__header call-to__header">
      <h3>Get early access today</h3>
      <p>
        It only takes a minute to sign up and our free starter tier is extremely
        generous. If you have any questions, our support team would be happy to
        help you.
      </p>
    </header>
    <div class="input-group card__content">
      <input
        type="text"
        class="input input--black-shadow input--type"
        placeholder="email@example.com"
      />
      <button class="btn btn--gradient btn--size input-group__button">
        get started for free
      </button>
    </div>
  </div>
</section>
