<section class="features-block block block--darker">
  <div class="container grid grid--1x2">
    <div class="feature grid block">
      <img src="images/icon-access-anywhere.svg" alt="" class="icon" />
      <div class="feature__text">
        <h3>Access your files, anywhere</h3>
        <p>
          The ability to use a smartphone, tablet, or computer to access your
          account means your files follow you everywhere.
        </p>
      </div>
    </div>
    <div class="feature grid block">
      <img src="images/icon-security.svg" alt="" class="icon" />
      <div class="feature__text">
        <h3>Security you can trust</h3>
        <p>
          2-factor authentication and user-controlled encryption are just a
          couple of the security features we allow to help secure your files.
        </p>
      </div>
    </div>
    <div class="feature grid block">
      <img src="images/icon-collaboration.svg" alt="" class="icon" />
      <div class="feature__text">
        <h3>Real-time collaboration</h3>
        <p>
          Securely share files and folders with friends, family and colleagues
          for live collaboration. No email attachments required.
        </p>
      </div>
    </div>
    <div class="feature grid block">
      <img src="images/icon-any-file.svg" alt="" class="icon" />
      <div class="feature__text">
        <h3>Store any type of file</h3>
        <p>
          Whether you're sharing holidays photos or work documents, Fylo has you
          covered allowing for all file types to be securely stored and shared.
        </p>
      </div>
    </div>
  </div>
</section>
