<section class="block block--darker testimonials">
  <div class="grid grid--1x3 container--medium">
    <img src="images/bg-quotes.png" alt="" class="icon testimonials__icon" />
    <div class="card card--bigger card--color-email-intro">
      <header class="card__header">
        Fylo has improved our team productivity by an order of magnitude. Since
        making the switch our team has become a well-oiled collaboration
        machine.
      </header>
      <div class="card__content testimonials__content">
        <img src="images/profile-1.jpg" alt="" class="testimonial__profile" />
        <p>Satish Patel Founder & CEO, Huddle</p>
      </div>
    </div>
    <div class="card card--bigger card--color-email-intro">
      <header class="card__header">
        Fylo has improved our team productivity by an order of magnitude. Since
        making the switch our team has become a well-oiled collaboration
        machine.
      </header>
      <div class="card__content testimonials__content">
        <img src="images/profile-2.jpg" alt="" class="testimonial__profile" />
        <p>Bruce McKenzie Founder & CEO, Huddle</p>
      </div>
    </div>
    <div class="card card--bigger card--color-email-intro">
      <header class="card__header">
        Fylo has improved our team productivity by an order of magnitude. Since
        making the switch our team has become a well-oiled collaboration
        machine.
      </header>
      <div class="card__content testimonials__content">
        <img src="images/profile-3.jpg" alt="" class="testimonial__profile" />
        <p>Iva Boyd Founder & CEO, Huddle</p>
      </div>
    </div>
  </div>
</section>
